.img-du-haut {
    height: 150px; /* Hauteur fixe */
    width: 100%; /* L'image prend toute la largeur du conteneur */
    object-fit: cover; /* Cette propriété permet de redimensionner l'image pour qu'elle remplisse son conteneur sans distorsion */
    object-position: center; /* Centre l'image dans le conteneur */
    image-rendering: auto; /* Pour garantir que l'image soit bien rendue et nette */
}


/* Centrage du h2 et du paragraphe */
.blog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px; /* Espace entre le texte et les articles */
  }
  
  .blog-header h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #1e1e1e; /* Couleur du texte pour correspondre à la maquette */
  }
  
  .blog-header p {
    font-size: 1.2rem;
    color: #444;
  }
  
  .blog-header p::after {
    content: "";
    display: block;
    width: 350px;
    height: 4px;
    background-color: #007bff;
    margin: 10px auto 0 auto;
    border-radius: 2px;
  }

  .container-blog {
    margin: 50px;
  }