/* Footer général */
footer.footer {
    background-color: #dfdcdc;
    color: #1e1e1e;
    padding: 40px 0;
}

footer h5 {
    font-size: 18px;
    color: #1e1e1e;
    margin-bottom: 15px;
    text-transform: uppercase;
}

footer ul {
    color: #1e1e1e;
}

.icone {
    display: flex;
    gap: 15px; /* Ajoute un espace entre les icônes */
    align-items: center;
    justify-content: start; /* Pour que les icônes soient alignées à gauche */
    margin-top: 10px; /* Ajuste l'espacement au-dessus des icônes */
  }
  
  .icone a {
    color: #1e1e1e; /* Couleur des icônes */
  }
  
  .icone a:hover {
    color: #0d6efd; /* Couleur au survol */
  }
  

footer ul {
    list-style: none;
    padding: 0;
}

.col {
    padding-bottom: 30px;
}

footer a {
    color: #1e1e1e;
    text-decoration: none;
    font-size: 14px;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.8);
}

footer .list-unstyled li {
    margin-bottom: 5px;
}

/* Ajout du bouton pour revenir en haut */
footer .scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #298eff;
    color: #1e1e1e;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer .scroll-top-btn:hover {
    background-color: #0d6efd;
}


/* Conteneur fluide pour la section Copyright */
.footer-copyright {
    background-color: #1e1e1e;
    color: white;
    width: 100vw; /* Largeur totale */
    height: 60px;
    margin-left: calc(-50vw + 50%); /* Pour garantir la pleine largeur sans marges */
}

/* Responsiveness pour petits écrans */
@media (max-width: 720px) {
    .footer {
        text-align: center;
    }

    .footer .col {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer .col ul {
        text-align: center;
    }

    .footer .icone {
        justify-content: center; /* Centre les icônes */
    }

    .footer-copyright {
        margin-left: 0; /* Supprimer le calcul sur mobile */
        width: 100%; /* Largeur totale en mobile */
    }
}
