body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #EEE;
  color: #444;
  margin: 0;
  padding: 0;
}
h1 h2 h3 h4 h5 {
  color: #1e1e1e;
}

strong {
  color: black;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* S'assurer que l'image de fond couvre tout l'écran */
}
